@charset "utf-8";
/* CSS Document */

body{
		background: url(../images/block1.jpg) no-repeat ;
		text-align:center;
		font-family:"微软雅黑";
		font-size:14px;
		margin:0 0;
		padding:0 0;
	}
	
#replytext{
	width: 370px;
	min-height: 20px;
	overflow: hidden;
	padding: 9px;
	line-height: 20px;
	word-wrap: break-word;
	word-break: break-all;
	position:absolute;
	border:1px solid #cececf;
}	