<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>commonservlet</servlet-name>
    <servlet-class>com.lofter.servlet.CommonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.lofter.servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.lofter.servlet.FileUploadServlet</servlet-class>
    <init-param>
      <param-name>savePath</param-name>
      <param-value>uploads</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DoEmailLoginServlet</servlet-name>
    <servlet-class>com.lofter.servlet.DoEmailLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.lofter.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailActivateCheckServlet</servlet-name>
    <servlet-class>com.lofter.servlet.EmailActivateCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.lofter.servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>allowScriptTagRemoting</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.lofter.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoPraiseServlet</servlet-name>
    <servlet-class>com.lofter.servlet.DoPraiseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeadUploadServlet</servlet-name>
    <servlet-class>com.lofter.servlet.HeadUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.lofter.servlet.CollectServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.lofter.servlet.ChatServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>BackLoginServlet</servlet-name>
    <servlet-class>com.lofter.back.servlet.BackLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackAdminServlet</servlet-name>
    <servlet-class>com.lofter.back.servlet.BackAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackUserServlet</servlet-name>
    <servlet-class>com.lofter.back.servlet.BackUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackTopicServlet</servlet-name>
    <servlet-class>com.lofter.back.servlet.BackTopicServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>TopicAnalysisServlet</servlet-name>
    <servlet-class>com.lofter.servlet.TopicAnalysisServlet</servlet-class>
  </servlet>
  
<servlet-mapping>
    <servlet-name>TopicAnalysisServlet</servlet-name>
    <url-pattern>/topicanalysis.action</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>BackLoginServlet</servlet-name>
    <url-pattern>/backlogin.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackAdminServlet</servlet-name>
    <url-pattern>/back/backadmin.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackUserServlet</servlet-name>
    <url-pattern>/back/backuser.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackTopicServlet</servlet-name>
    <url-pattern>/back/backtopic.action</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HeadUploadServlet</servlet-name>
    <url-pattern>/headupload.action</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat.action</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/homepage.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commonservlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/topic.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/fileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmailLoginServlet</servlet-name>
    <url-pattern>/doEmail.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailActivateCheckServlet</servlet-name>
    <url-pattern>/emailcheck.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/doreply.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoPraiseServlet</servlet-name>
    <url-pattern>/dopraise.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/docollect.action</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charset</filter-name>
    <filter-class>com.lofter.filter.CharacterFitler</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charset</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>